{% extends "bdpsite/projectmanager.html" %}
{% load bootstrap3 %}

{% block "content" %}
<h2>Add a visualization to "{{project.title}}"</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="">
                {% csrf_token %}
                    {% bootstrap_field form.dataset %}
                    {% bootstrap_field form.type %}
                <div class="form-group">
                    <label for="id_drilldowns" class="control-label">Drilldowns</label>
                    <div class="input-group">
                        <input type="hidden" id="id_drilldowns" name="drilldowns" />
                        <select class="form-control" name="drilldown">
                            <option value="null" id="drilldown_select_placeholder"><i>Select a dataset</i></option>
                        </select>
                        <a href="#" id="add-drilldown" class="btn btn-default btn-xs input-group-addon disabled">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </a>
                    </div>
                </div>
                <input type="hidden" id="id_cuts" name="cuts" />
                  {% bootstrap_field form.description %}
                <input type="Submit" name="Submit" value="Add" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-md-6">
            <label for="drilldownlist">Drilldown dimensions</label>
            <ul class="drilldownlist" id="drilldownlist">
                <li id="drilldown_placeholder"><i>None selected</i></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block "js" %}
<script>
$(document).ready(function() {
    var drilldowns = [];
    $("form").on("change", function() {
        $("#preview");
        var dataset=this.dataset.options[this.dataset.value].text;
        var drilldowns=this.drilldowns.value;
        var cuts=this.cuts.value;
        var cuts={}
        var type=this.type.value
        var options = { "data" : {
                "dataset" : dataset,
                "drilldowns": drilldowns,
                "cuts": cuts,
                "measure": "amount" }};
        $("#preview")[type](options);        
        });
    $("#id_dataset").on("change",function() {
        dataset_id = this.value;
        $.getJSON("/openspending/" + dataset_id + "/",
            function (os) {
                $.getJSON(os+'/dimensions.json?callback=?',
                    function(d) {
                        $("#drilldown_select_placeholder").remove();
                        $("#add-drilldown").removeClass("disabled");
                        var el=$("select[name='drilldown']")
                        el.html();
                        var old_elements = $("option", el);
                        old_elements.remove();
                        for (i in d) {
                            el.append("<option value='"+d[i].name+
                                "'>"+d[i].label+"</option>")
                            }
                        });
                });
            });
    $("#add-drilldown").on("click",function(e) {
        e.preventDefault();
        $("#drilldown_placeholder").remove();
        dimension = $("select[name='drilldown']").val();
        drilldowns.push(dimension);


        var $ul = $("ul.drilldownlist");
        var $item = $("<li>", {"text": dimension});
        $item.appendTo($ul);

        var $a = $("<a>", {
            "href": "#",
            "class": "btn btn-danger btn-xs"
        });
        $a.appendTo($item);

        var $i = $("<i>", {"class": "glyphicon glyphicon-minus-sign"});
        $i.appendTo($a);

        $a.on("click", function(e) {
            e.preventDefault();
            drilldowns.splice(drilldowns.indexOf(dimension),1);
            $("input[name='drilldowns']").val(drilldowns.join(","));
            $item.remove();
            if (drilldowns.length === 0) {
                $ul.append("<li id=\"drilldown_placeholder\"><i>None selected</i></li>");
            }
        })

        //.append("<li>"+dimension+"<a href=\"#\" data-remove=\"" + dimension + "\" class=\"remove-drilldown btn btn-danger btn-xs\"><i class=\"glyphicon glyphicon-minus-sign\"></i></a></li>");
        $("input[name='drilldowns']").val(drilldowns.join(","));
        })
    })
</script>
{% endblock %}
