{% extends "bdpsite/projectmanager.html" %}
{% load bootstrap3 %}

{% block "content" %}
<h1>{{package.name}}</h1>

<form method="POST" action="">
{% csrf_token %}
{% bootstrap_form form %}
<input type="Submit" name="Submit" value="Save" class="btn btn-primary">
</form>

<h2>Datasets from package "{{package.name}}"</h2>
<ul>
{% for d in datasets %}
    <li><h4>{{d.name}}</h4>
        <p>{{d.description}}</p>
        </li>
{% endfor %}
</ul>
<p><a href="add/" class="btn btn-success">Add a Dataset</a>
{% endblock %}
