{% extends "bdpsite/projectmanager.html" %}

{% block "content" %}
<h2>Data packages for {{project.title}}</h2>
{% if datapackages %}
<ul>
{% for dp in datapackages %}
<li><a href="edit/{{dp.slug}}">{{dp.name}} ({{dp.slug}})</a> <a href="delete/{{dp.id}}/" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus-sign"></i></a></li>
{% endfor %}
</ul>
{% else %}
<p>
No datapackages found. They might still be importing. Check back in a couple
of minutes...</p>
{% endif %}
<p>
<a href="./add/" class="btn btn-success">Add a new package</a>
</p>
{% endblock %}
