{% extends "biab/base.html" %}

{% block "main" %}
<div class="row">
<div class="col-md-1">
<img class="img-circle" src={{profileuser.gurl}} />
</div>
<div class="col-md-11">
<h2>{{profileuser.first_name}} {{profileuser.last_name}} ({{profileuser.username}})</h2>
<hr />
<h3>Projects</h3>
<ul>
{% for p in projects %}
<li><a href="/project/{{p.slug}}">{{p.title}}</a></li>
{% endfor %}
</ul>
{% if profileuser = user %}
<a href="/create" class="btn btn-success">New Project</a>
<a href="/createbare/" class="btn btn-default">New bare Project</a>
{% endif %}
<hr />
</div>
</div>
{% endblock %}
