{% extends "biab/base.html" %}

{% block "main" %}
<div class="row">
<div class="col-md-2">
<img class="img-circle" src={{profileuser.gurl}} />
</div>
<div class="col-md-10">
<h2>{{profileuser.first_name}} {{profileuser.last_name}} ({{profileuser.username}})</h2>
<hr />
<h3>Data Packages</h3>
<ul>
{% for dp in datapackages %}
<li><a href="/datapackage/{{dp.slug}}">{{dp.name}}</a></li>
{% endfor %}
</ul>
{% if profileuser = user %}
<a href="/datapackage/new" class="btn btn-success">Add DataPackage</a>
{% endif %}
<hr />
</div>
</div>
{% endblock %}
