{% extends "biab/viewerbase.html" %}
{% load md %}

{% block "css" %}
<style type="text/css">
    body {
      padding-top: 25px;
      padding-bottom: 20px;
    }
    .bubbletree {
      margin-top: -50px;
    }
</style>
{% endblock %}

{% block "title" %}
{{ project.title }}
{% endblock %}

{% block "main" %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" {% if project.featured_viz.type = "bubbletree"%}style="height:425px"{% endif %}>
    <div class="row">
      <div class="col-md-5">
        <div
          class="{{project.featured_viz.type}}"
          data-dataset="{{project.featured_viz.dataset.openspendingSlug}}"
          data-drilldowns="{{project.featured_viz.drilldowns}}"
          data-cuts="{{project.featured_viz.cuts}}"
          data-width="400">
        </div>
      </div>
      <div class="col-md-7">
        <h1>{{ project.title }} </h1>
        {% if project.featured_viz %}
        <h2>{{ featured.name }}</h2>
        <p>{{ featured.description }}</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{featured.name}}/">Learn more &raquo;</a></p>
        {% else %}
        <p>{{ project.description }} </p>
        {% endif %}
      </div>
    </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
            <h2>New datasets</h2>
            <ul>
              {% for d in datasets %}
              <li>
                <h3><a href="{{d.name}}/">{{ d.name }}</a></h3>
                <div><b>Fiscal year: </b>{{ d.fiscalYear | date:"Y" }}</div>
                <div><b>Category: </b>{% if d.type == "expenditure" %}{% if d.granularity == "aggregated" %}budget{% else %}spending{% endif %}{% else %}other{% endif %}</div>
                {% if d.status %}<div><b>Status: </b>{{ d.status }}</div>{% endif %}
              </li>
              {% endfor %}
            </ul>
            <p><a class="btn btn-success" role="button" href="datasets/">More datasets &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Site information</h2>
            <p>
                Here is some basic info about the site.
            </p>
        </div>

      </div>

{% endblock %}
